/patternctl/nbproject/private/
/pattern-rec/nbproject/private/
/blocker/nbproject/private/
/blocker/build/
/blocker/dist/
/unneeded/mongo/nbproject/private/
/unneeded/mongo/build/
/unneeded/tesexec/nbproject/private/
/unneeded/tesexec/build/
/unneeded/tesexec/dist/
/unneeded/timer/dist/
/unneeded/testjson/nbproject/private/
/unneeded/testjson/dist/
/unneeded/testjson/build/
/unneeded/testfile/nbproject/private/
/unneeded/testfile/build/
/unneeded/testsqlite/nbproject/private/
/unneeded/testsqlite/build/